@using MediatR;
@using MijnThuis.Dashboard.Web.Model.Charts;
@implements IDisposable
@inject IMediator Mediator;
@inject IServiceScopeFactory ServiceProvider
@inject ILogger<EnergyWidgetTile> Logger;

<div>
    <MudStack>
        <ApexCharts.ApexChart Title="@Production.Description" TItem="ChartDataEntry<string, decimal>" Options="_productionOptions" @ref="_productionChart">

            <ApexCharts.ApexPointSeries TItem="ChartDataEntry<string, decimal>"
                                        Items="@Production.Series1"
                                        Name="@Production.Series1Description"
                                        XValue="e => e.XValue"
                                        YValue="e => e.YValue"
                                        SeriesType="ApexCharts.SeriesType.Bar"
                                        ShowDataLabels />

            <ApexCharts.ApexPointSeries TItem="ChartDataEntry<string, decimal>"
                                        Items="@Production.Series2"
                                        Name="@Production.Series2Description"
                                        XValue="e => e.XValue"
                                        YValue="e => e.YValue"
                                        SeriesType="ApexCharts.SeriesType.Bar"
                                        ShowDataLabels />

            <ApexCharts.ApexPointSeries TItem="ChartDataEntry<string, decimal>"
                                        Items="@Production.Series3"
                                        Name="@Production.Series3Description"
                                        XValue="e => e.XValue"
                                        YValue="e => e.YValue"
                                        SeriesType="ApexCharts.SeriesType.Bar"
                                        ShowDataLabels />
        </ApexCharts.ApexChart>
        <ApexCharts.ApexChart Title="@Consumption.Description" TItem="ChartDataEntry<string, decimal>" Options="_consumptionOptions" @ref="_consumptionChart">

            <ApexCharts.ApexPointSeries TItem="ChartDataEntry<string, decimal>"
                                        Items="@Consumption.Series1"
                                        Name="@Consumption.Series1Description"
                                        XValue="e => e.XValue"
                                        YValue="e => e.YValue"
                                        SeriesType="ApexCharts.SeriesType.Bar"
                                        ShowDataLabels />

            <ApexCharts.ApexPointSeries TItem="ChartDataEntry<string, decimal>"
                                        Items="@Consumption.Series2"
                                        Name="@Consumption.Series2Description"
                                        XValue="e => e.XValue"
                                        YValue="e => e.YValue"
                                        SeriesType="ApexCharts.SeriesType.Bar"
                                        ShowDataLabels />

            <ApexCharts.ApexPointSeries TItem="ChartDataEntry<string, decimal>"
                                        Items="@Consumption.Series3"
                                        Name="@Consumption.Series3Description"
                                        XValue="e => e.XValue"
                                        YValue="e => e.YValue"
                                        SeriesType="ApexCharts.SeriesType.Bar"
                                        ShowDataLabels />
        </ApexCharts.ApexChart>
    </MudStack>
</div>