@using MediatR;
@implements IDisposable
@inject IMediator Mediator;
@inject ILogger<CarTile> Logger;

<MudCard Elevation="3" Class="modern-tile">
    <div class="tile-header tile-header-car">
        <MudIcon Icon="@Icons.Material.Filled.ElectricCar" />
        <div class="flex-grow-1">
            <MudText Typo="Typo.subtitle1" Class="tile-header-title">Auto</MudText>
            <MudText Typo="Typo.caption" Class="tile-header-subtitle">@(string.IsNullOrEmpty(Title) ? "Huidige status van de auto" : Title)</MudText>
        </div>
        <MudTooltip Text="Meer details" Arrow="true" Placement="Placement.Left">
            <MudIconButton Icon="@Icons.Material.Filled.MoreHoriz" Class="tile-header-action" OnClick="MoreCommand" />
        </MudTooltip>
    </div>
    <MudCardContent Class="pt-2 pb-1">
        <MudGrid Spacing="1">
            <MudItem xs="6">
                @if (IsReady)
                {
                    <div class="data-cell">
                        <MudTooltip Text="Beschikbaar batterijpercentage" Arrow="true" Placement="Placement.Right">
                            <MudIcon Icon="@BatteryBar" Size="Size.Medium" Color="@(BatteryLevel < 50 ? Color.Secondary : Color.Tertiary)" />
                        </MudTooltip>
                        <MudText Typo="Typo.subtitle1">@BatteryLevel% (@BatteryHealth%)</MudText>
                    </div>
                }
                else
                {
                    <div class="data-cell-skeleton">
                        <MudSkeleton SkeletonType="SkeletonType.Circle" Animation="Animation.Wave" Height="28px" Width="28px" />
                        <MudSkeleton Animation="Animation.Wave" Width="70%" />
                    </div>
                }
            </MudItem>
            <MudItem xs="6">
                @if (IsReady)
                {
                    <div class="data-cell">
                        <MudTooltip Text="Beschikbaar rijbereik" Arrow="true" Placement="Placement.Left">
                            <MudIcon Icon="@Icons.Material.Filled.CardTravel" Size="Size.Medium" Color="@(BatteryLevel < 50 ? Color.Secondary : Color.Tertiary)" />
                        </MudTooltip>
                        <MudText Typo="Typo.subtitle1">@RemainingRange km</MudText>
                    </div>
                }
                else
                {
                    <div class="data-cell-skeleton">
                        <MudSkeleton SkeletonType="SkeletonType.Circle" Animation="Animation.Wave" Height="28px" Width="28px" />
                        <MudSkeleton Animation="Animation.Wave" Width="70%" />
                    </div>
                }
            </MudItem>
            <MudItem xs="6">
                @if (IsReady)
                {
                    <div class="data-cell">
                        <MudTooltip Text="Binnentemperatuur" Arrow="true" Placement="Placement.Right">
                            <MudIcon Icon="@Icons.Material.Filled.Thermostat" Size="Size.Medium" Color="Color.Primary" />
                        </MudTooltip>
                        <MudText Typo="Typo.subtitle1">@TemperatureInside °C</MudText>
                    </div>
                }
                else
                {
                    <div class="data-cell-skeleton">
                        <MudSkeleton SkeletonType="SkeletonType.Circle" Animation="Animation.Wave" Height="28px" Width="28px" />
                        <MudSkeleton Animation="Animation.Wave" Width="70%" />
                    </div>
                }
            </MudItem>
            <MudItem xs="6">
                @if (IsReady)
                {
                    <div class="data-cell">
                        <MudTooltip Text="Buitentemperatuur" Arrow="true" Placement="Placement.Left">
                            <MudIcon Icon="@Icons.Material.Filled.Thermostat" Size="Size.Medium" Title="Buitentemperatuur" Color="Color.Primary" />
                        </MudTooltip>
                        <MudText Typo="Typo.subtitle1">@TemperatureOutside °C</MudText>
                    </div>
                }
                else
                {
                    <div class="data-cell-skeleton">
                        <MudSkeleton SkeletonType="SkeletonType.Circle" Animation="Animation.Wave" Height="28px" Width="28px" />
                        <MudSkeleton Animation="Animation.Wave" Width="70%" />
                    </div>
                }
            </MudItem>
            @if (IsCharging)
            {
                <MudItem xs="6">
                    @if (IsReady)
                    {
                        <div class="data-cell">
                            <MudTooltip Text="Oplaadstroom" Arrow="true" Placement="Placement.Right">
                                <MudIcon Icon="@Icons.Material.Filled.BatteryChargingFull" Size="Size.Medium" Color="@Color.Tertiary" />
                            </MudTooltip>
                            <MudText Typo="Typo.subtitle1">@ChargingCurrent</MudText>
                        </div>
                    }
                    else
                    {
                        <div class="data-cell-skeleton">
                            <MudSkeleton SkeletonType="SkeletonType.Circle" Animation="Animation.Wave" Height="28px" Width="28px" />
                            <MudSkeleton Animation="Animation.Wave" Width="70%" />
                        </div>
                    }
                </MudItem>
                <MudItem xs="6">
                    @if (IsReady)
                    {
                        <div class="data-cell">
                            <MudTooltip Text="Opgeladen range" Arrow="true" Placement="Placement.Left">
                                <MudIcon Icon="@Icons.Material.Filled.DateRange" Size="Size.Medium" Color="@Color.Tertiary" />
                            </MudTooltip>
                            <MudText Typo="Typo.subtitle1">@ChargingRange</MudText>
                        </div>
                    }
                    else
                    {
                        <div class="data-cell-skeleton">
                            <MudSkeleton SkeletonType="SkeletonType.Circle" Animation="Animation.Wave" Height="28px" Width="28px" />
                            <MudSkeleton Animation="Animation.Wave" Width="70%" />
                        </div>
                    }
                </MudItem>
            }
            <MudItem xs="6">
                @if (IsReady)
                {
                    <div class="data-cell">
                        <MudTooltip Text="Adrien Dezaegerplein" Arrow="true" Placement="Placement.Right">
                            <MudIcon Icon="@Icons.Material.Filled.ElectricCar" Size="Size.Medium" Color="@(Charger1Available? Color.Tertiary: Color.Secondary)" />
                        </MudTooltip>
                        <MudText Typo="Typo.subtitle1">@Charger1</MudText>
                    </div>
                }
                else
                {
                    <div class="data-cell-skeleton">
                        <MudSkeleton SkeletonType="SkeletonType.Circle" Animation="Animation.Wave" Height="28px" Width="28px" />
                        <MudSkeleton Animation="Animation.Wave" Width="70%" />
                    </div>
                }
            </MudItem>
            <MudItem xs="6">
                @if (IsReady)
                {
                    <div class="data-cell">
                        <MudTooltip Text="Breendonkstraat" Arrow="true" Placement="Placement.Left">
                            <MudIcon Icon="@Icons.Material.Filled.ElectricCar" Size="Size.Medium" Color="@(Charger2Available? Color.Tertiary: Color.Secondary)" />
                        </MudTooltip>
                        <MudText Typo="Typo.subtitle1">@Charger2</MudText>
                    </div>
                }
                else
                {
                    <div class="data-cell-skeleton">
                        <MudSkeleton SkeletonType="SkeletonType.Circle" Animation="Animation.Wave" Height="28px" Width="28px" />
                        <MudSkeleton Animation="Animation.Wave" Width="70%" />
                    </div>
                }
            </MudItem>
        </MudGrid>
    </MudCardContent>
    <MudDivider Class="mx-3" />
    <MudCardActions Class="tile-actions">
        @if (IsLocked)
        {
            @if (UnlockPending)
            {
                <MudIconButton Size="Size.Large" Disabled="true">
                    <MudProgressCircular Color="Color.Default" Size="Size.Small" Indeterminate="true" />
                </MudIconButton>
            }
            else
            {
                <MudTooltip Text="Auto openen" Arrow="true" Placement="Placement.Bottom">
                    <MudIconButton Icon="@Icons.Material.Filled.Lock" Size="Size.Large" Color="Color.Secondary" Disabled="@(!IsReady)"
                                   OnClick="UnlockCommand" />
                </MudTooltip>
            }

        }
        else
        {
            @if (LockPending)
            {
                <MudIconButton Size="Size.Large" Disabled="true">
                    <MudProgressCircular Color="Color.Default" Size="Size.Small" Indeterminate="true" />
                </MudIconButton>
            }
            else
            {
                <MudTooltip Text="Auto sluiten" Arrow="true" Placement="Placement.Bottom">
                    <MudIconButton Icon="@Icons.Material.Filled.LockOpen" Size="Size.Large" Color="Color.Tertiary" Disabled="@(!IsReady)"
                                   OnClick="LockCommand" />
                </MudTooltip>
            }
        }
        <MudTooltip Text="Auto voorverwarmen" Arrow="true" Placement="Placement.Bottom">
            <MudIconButton Icon="@Icons.Material.Filled.HeatPump" Size="Size.Large" Color="Color.Primary"
                           OnClick="PreheatCommand" Disabled="@(!IsReady)" />
        </MudTooltip>

        <MudTooltip Text="Scheetje laten" Arrow="true" Placement="Placement.Bottom">
            <MudIconButton Icon="@Icons.Material.Filled.Air" Size="Size.Large" Color="Color.Primary"
                           OnClick="FartCommand" Disabled="@(!IsReady)" />
        </MudTooltip>

        <MudTooltip Text="@($"Beschermen tegen oververhitting {(IsOverheatProtection ? "uitzetten" : "aanzetten")}")" Arrow="true" Placement="Placement.Bottom">
            <MudIconButton Icon="@Icons.Material.Filled.HeatPump" Size="Size.Large" Color="@(IsOverheatProtection? Color.Secondary: Color.Tertiary)"
                           OnClick="OverheatProtectionCommand" Disabled="@(!IsReady)" />
        </MudTooltip>

        @if (IsChargingManuallyAt8)
        {
            <MudTooltip Text="Stoppen met manueel opladen" Arrow="true" Placement="Placement.Bottom">
                <MudIconButton Icon="@Icons.Material.Filled.PowerOff" Size="Size.Large" Color="Color.Secondary" Disabled="@(!IsReady)"
                               OnClick="StopChargingCommand" />
            </MudTooltip>
        }
        else
        {
            <MudTooltip Text="Auto manueel opladen aan 8 ampère" Arrow="true" Placement="Placement.Bottom">
                <MudIconButton Icon="@Icons.Material.Filled.Power" Size="Size.Large" Color="Color.Tertiary" Disabled="@(!IsReady)"
                               OnClick="StartChargingAt8Command" />
            </MudTooltip>
        }

        @if (IsChargingManuallyAt16)
        {
            <MudTooltip Text="Stoppen met manueel opladen" Arrow="true" Placement="Placement.Bottom">
                <MudIconButton Icon="@Icons.Material.Filled.PowerOff" Size="Size.Large" Color="Color.Secondary" Disabled="@(!IsReady)"
                               OnClick="StopChargingCommand" />
            </MudTooltip>
        }
        else
        {
            <MudTooltip Text="Auto manueel opladen aan 16 ampère" Arrow="true" Placement="Placement.Bottom">
                <MudIconButton Icon="@Icons.Material.Filled.Power" Size="Size.Large" Color="Color.Tertiary" Disabled="@(!IsReady)"
                               OnClick="StartChargingAt16Command" />
            </MudTooltip>
        }
    </MudCardActions>
</MudCard>
