@using MediatR;
@implements IDisposable
@inject IMediator Mediator;
@inject ILogger<SaunaTile> Logger;

<MudCard Elevation="3" Class="modern-tile">
    <div class="tile-header tile-header-sauna">
        <MudIcon Icon="@Icons.Material.Filled.Gradient" />
        <div class="flex-grow-1">
            <MudText Typo="Typo.subtitle1" Class="tile-header-title">Sauna</MudText>
            <MudText Typo="Typo.caption" Class="tile-header-subtitle">De huidige status van de sauna</MudText>
        </div>
    </div>
    <MudCardContent Class="pt-2 pb-1">
        <MudGrid Spacing="1">
            <MudItem xs="6">
                @if (IsReady)
                {
                    <div class="data-cell">
                        <MudTooltip Text="Status" Arrow="true" Placement="Placement.Right">
                            <MudIcon Icon="@Icons.Material.Filled.PowerSettingsNew" Size="Size.Medium" Color="Color.Primary" />
                        </MudTooltip>
                        <MudText Typo="Typo.subtitle1">@State</MudText>
                    </div>
                }
                else
                {
                    <div class="data-cell-skeleton">
                        <MudSkeleton SkeletonType="SkeletonType.Circle" Animation="Animation.Wave" Height="28px" Width="28px" />
                        <MudSkeleton Animation="Animation.Wave" Width="70%" />
                    </div>
                }
            </MudItem>
            <MudItem xs="6">
                @if (IsReady)
                {
                    <div class="data-cell">
                        <MudTooltip Text="Huidig vermogen" Arrow="true" Placement="Placement.Left">
                            <MudIcon Icon="@Icons.Material.Filled.ElectricBolt" Size="Size.Medium" Color="@(Power > 0M ? Color.Secondary : Color.Tertiary)" />
                        </MudTooltip>
                        <MudText Typo="Typo.subtitle1">@String.Format("{0:F1}", Power) kW</MudText>
                    </div>
                }
                else
                {
                    <div class="data-cell-skeleton">
                        <MudSkeleton SkeletonType="SkeletonType.Circle" Animation="Animation.Wave" Height="28px" Width="28px" />
                        <MudSkeleton Animation="Animation.Wave" Width="70%" />
                    </div>
                }
            </MudItem>
            <MudItem xs="6">
                @if (IsReady)
                {
                    <div class="data-cell">
                        <MudTooltip Text="Temperatuur" Arrow="true" Placement="Placement.Right">
                            <MudIcon Icon="@Icons.Material.Filled.Thermostat" Size="Size.Medium" Color="Color.Primary" />
                        </MudTooltip>
                        <MudText Typo="Typo.subtitle1">@InsideTemperature °C</MudText>
                    </div>
                }
                else
                {
                    <div class="data-cell-skeleton">
                        <MudSkeleton SkeletonType="SkeletonType.Circle" Animation="Animation.Wave" Height="28px" Width="28px" />
                        <MudSkeleton Animation="Animation.Wave" Width="70%" />
                    </div>
                }
            </MudItem>
            <MudItem xs="6">
                @if (IsReady)
                {
                    <div class="data-cell">
                        <MudTooltip Text="Buitentemperatuur" Arrow="true" Placement="Placement.Left">
                            <MudIcon Icon="@Icons.Material.Filled.Thermostat" Size="Size.Medium" Color="Color.Primary" />
                        </MudTooltip>
                        <MudText Typo="Typo.subtitle1">@OutsideTemperature °C</MudText>
                    </div>
                }
                else
                {
                    <div class="data-cell-skeleton">
                        <MudSkeleton SkeletonType="SkeletonType.Circle" Animation="Animation.Wave" Height="28px" Width="28px" />
                        <MudSkeleton Animation="Animation.Wave" Width="70%" />
                    </div>
                }
            </MudItem>
        </MudGrid>
    </MudCardContent>
    <MudDivider Class="mx-3" />
    <MudCardActions Class="tile-actions">
        @if (StartSaunaPending)
        {
            <MudIconButton Size="Size.Large" Disabled="true">
                <MudProgressCircular Color="Color.Default" Size="Size.Small" Indeterminate="true" />
            </MudIconButton>
        }
        else
        {
            <MudTooltip Text="Sauna" Arrow="true" Placement="Placement.Bottom">
                <MudIconButton Icon="@Icons.Material.Filled.Gradient" Size="Size.Large" Color="@(State == "Sauna" ? Color.Secondary : Color.Default)"
                               OnClick="StartSaunaCommand" />
            </MudTooltip>
        }

        @if (StartInfraredPending)
        {
            <MudIconButton Size="Size.Large" Disabled="true">
                <MudProgressCircular Color="Color.Default" Size="Size.Small" Indeterminate="true" />
            </MudIconButton>
        }
        else
        {
            <MudTooltip Text="Infrarood" Arrow="true" Placement="Placement.Bottom">
                <MudIconButton Icon="@Icons.Material.Filled.Waves" Size="Size.Large" Color="@(State == "Infrarood" ? Color.Secondary : Color.Default)"
                               OnClick="StartInfraredCommand" />
            </MudTooltip>
        }

        @if (StopSaunaPending)
        {
            <MudIconButton Size="Size.Large" Disabled="true">
                <MudProgressCircular Color="Color.Default" Size="Size.Small" Indeterminate="true" />
            </MudIconButton>
        }
        else
        {
            <MudTooltip Text="Uitzetten" Arrow="true" Placement="Placement.Bottom">
                <MudIconButton Icon="@Icons.Material.Filled.PowerSettingsNew" Size="Size.Large" Color="@(State == "Uit" ? Color.Tertiary : Color.Default)"
                               OnClick="StopSaunaCommand" />
            </MudTooltip>
        }
    </MudCardActions>
</MudCard>
