@using MediatR;
@implements IDisposable
@inject IMediator Mediator;
@inject ILogger<SmartLockTile> Logger;

<MudCard Elevation="3" Class="modern-tile">
    <div class="tile-header tile-header-lock">
        <MudIcon Icon="@Icons.Material.Filled.DoorFront" />
        <div class="flex-grow-1">
            <MudText Typo="Typo.subtitle1" Class="tile-header-title">Voordeur</MudText>
            <MudText Typo="Typo.caption" Class="tile-header-subtitle">De huidige status van de voordeur</MudText>
        </div>
    </div>
    <MudCardContent Class="pt-2 pb-1">
        <MudGrid Spacing="1">
            <MudItem xs="6">
                @if (IsReady)
                {
                    <div class="data-cell">
                        <MudTooltip Text="Deur op slot of los" Arrow="true" Placement="Placement.Right">
                            <MudIcon Icon="@Icons.Material.Filled.Lock" Size="Size.Medium" Color="@(State == "Op slot" ? Color.Secondary : Color.Tertiary)" />
                        </MudTooltip>
                        <MudText Typo="Typo.subtitle1">@State</MudText>
                    </div>
                }
                else
                {
                    <div class="data-cell-skeleton">
                        <MudSkeleton SkeletonType="SkeletonType.Circle" Animation="Animation.Wave" Height="28px" Width="28px" />
                        <MudSkeleton Animation="Animation.Wave" Width="70%" />
                    </div>
                }
            </MudItem>
            <MudItem xs="6">
                @if (IsReady)
                {
                    <div class="data-cell">
                        <MudTooltip Text="Deur open of dicht" Arrow="true" Placement="Placement.Left">
                            <MudIcon Icon="@Icons.Material.Filled.SensorDoor" Size="Size.Medium" Color="@(DoorState == "Deur is gesloten" ? Color.Secondary : Color.Tertiary)" />
                        </MudTooltip>
                        <MudText Typo="Typo.subtitle1">@DoorState</MudText>
                    </div>
                }
                else
                {
                    <div class="data-cell-skeleton">
                        <MudSkeleton SkeletonType="SkeletonType.Circle" Animation="Animation.Wave" Height="28px" Width="28px" />
                        <MudSkeleton Animation="Animation.Wave" Width="70%" />
                    </div>
                }
            </MudItem>
            <MudItem xs="6">
                @if (IsReady)
                {
                    <div class="data-cell">
                        <MudTooltip Text="Batterijstatus" Arrow="true" Placement="Placement.Right">
                            <MudIcon Icon="@Icons.Material.Filled.BatteryChargingFull" Size="Size.Medium" Color="Color.Primary" />
                        </MudTooltip>
                        <MudText Typo="Typo.subtitle1">@BatteryCharge %</MudText>
                    </div>
                }
                else
                {
                    <div class="data-cell-skeleton">
                        <MudSkeleton SkeletonType="SkeletonType.Circle" Animation="Animation.Wave" Height="28px" Width="28px" />
                        <MudSkeleton Animation="Animation.Wave" Width="70%" />
                    </div>
                }
            </MudItem>
            <MudItem xs="6">
                @if (IsReady)
                {
                    <div class="data-cell">
                        <MudTooltip Text="Laatste actie" Arrow="true" Placement="Placement.Left">
                            <MudIcon Icon="@Icons.Material.Filled.History" Size="Size.Medium" Color="Color.Primary" />
                        </MudTooltip>
                        <MudText Typo="Typo.subtitle1">@History</MudText>
                    </div>
                }
                else
                {
                    <div class="data-cell-skeleton">
                        <MudSkeleton SkeletonType="SkeletonType.Circle" Animation="Animation.Wave" Height="28px" Width="28px" />
                        <MudSkeleton Animation="Animation.Wave" Width="70%" />
                    </div>
                }
            </MudItem>
        </MudGrid>
    </MudCardContent>
    <MudDivider Class="mx-3" />
    <MudCardActions Class="tile-actions">
        @if (UnlockPending)
        {
            <MudIconButton Size="Size.Large" Disabled="true">
                <MudProgressCircular Color="Color.Default" Size="Size.Small" Indeterminate="true" />
            </MudIconButton>
        }
        else
        {
            <MudTooltip Text="Sauna" Arrow="true" Placement="Placement.Bottom">
                <MudIconButton Icon="@Icons.Material.Filled.LockOpen" Size="Size.Large" Color="Color.Primary"
                               OnClick="UnlockCommand" />
            </MudTooltip>
        }
    </MudCardActions>
</MudCard>
